<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>璽璽瑜珈 Line App</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Sweet Alert-->
    <link href="../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- third party css -->
    <link href="../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="../assets/css/default/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="../assets/css/default/bootstrap-dark.min.css" rel="stylesheet" type="text/css"
        id="bs-dark-stylesheet" />
    <link href="../assets/css/default/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <!-- icons -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="../css/yogo.css" rel="stylesheet" type="text/css" />

</head>

<body class="loading">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="index.html" class="logo logo-dark text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm-dark.png" alt="" height="24">
                            <!-- <span class="logo-lg-text-light">Minton</span> -->
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-dark.png" alt="" height="20">
                            <!-- <span class="logo-lg-text-light">M</span> -->
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm.png" alt="" height="24">
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-light.png" alt="" height="20">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">簽到管理</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">



            <div class="h-100" data-simplebar>



                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul id="side-menu">

                        <li>
                            <a href="index.html">
                                <i class="ri-message-2-line"></i>
                                <span> 首頁 </span>
                            </a>
                        </li>

                        <li class="menu-title">訪客</li>

                        <li>
                            <a href="guest-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>

                        <li class="menu-title">學生</li>

                        <li>
                            <a href="student-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>


                        <li>
                            <a href="student-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程公告 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-notification.html">
                                <i class="ri-message-2-line"></i>
                                <span> 個人通知 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-info.html">
                                <i class="ri-message-2-line"></i>
                                <span> 個人資訊 </span>
                            </a>
                        </li>

                        <li class="menu-title">老師</li>

                        <li>
                            <a href="teacher-edit-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增課程</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-edit-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增公告</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程公告 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-user.html">
                                <i class="ri-message-2-line"></i>
                                <span> 使用者管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-checkin.html">
                                <i class="ri-message-2-line"></i>
                                <span> 簽到管理 </span>
                            </a>
                        </li>

                        <li class="menu-title">管理員</li>

                        <li>
                            <a href="admin-list-parameter.html">
                                <i class="ri-message-2-line"></i>
                                <span> 參數管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-user.html">
                                <i class="ri-message-2-line"></i>
                                <span> 使用者管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-report.html">
                                <i class="ri-message-2-line"></i>
                                <span> 報表管理</span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-checkin.html">
                                <i class="ri-message-2-line"></i>
                                <span> 簽到管理</span>
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">

            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body" id="card-history">
                                    <h4 class="header-title">簽到管理</h4>
                                    <p class="sub-header">
                                        每日11點彙整未簽到的學生名單
                                    </p>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>

                </div> <!-- container -->

            </div> <!-- content -->



        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    <script src="../assets/js/vendor.min.js"></script>

    <script src="../js/data.js"></script>

    <!-- Sweet Alerts js -->
    <script src="../assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- third party js -->
    <script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="../assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="../assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../assets/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>
    <script src="../assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="../assets/libs/pdfmake/build/vfs_fonts.js"></script>

    <script>

        adminCheckinList.forEach(function (obj) {
            let btn = '';

            obj.value6.forEach(function (value6) {

                var status = '';
                var color = 'btn-primary'

                if (value6 == '簽到') {
                    status = 'checkin'
                } else if (value6 == '取消') {
                    status = 'cancel'
                    color = 'btn-danger'
                } else if (value6 == '接受') {
                    status = 'accepted'
                    color = 'btn-purple'
                }
                btn += `<button style="width:45%;" type="button" class="btn ${color} waves-effect waves-light mb-2 ${status}">${value6}</button>`;

                // btn += `<button type="button" class="btn ${color} waves-effect waves-light mb-2 ${status}">${value6}</button>`;

            });

            $("#card-history").append(`<div class="card">
                                                    <div class="card-body">
                                                        <div class="mb-2">
                                                            <label class="col-2">日期
                                                            </label>
                                                            <label>${obj.value1}
                                                            </label>
                                                        </div>

                                                        <div class="mb-2">
                                                            <label class="col-2">課程
                                                            </label>
                                                            <label>
                                                                ${obj.value2}</label>
                                                        </div>

                                                        <div class="mb-2">
                                                            <label class="col-2">老師
                                                            </label>
                                                            <label>
                                                                ${obj.value3}</label>
                                                        </div>

                                                        <div class="mb-2">
                                                            <label class="col-2">學生
                                                            </label>
                                                            <label>
                                                                ${obj.value4}</label>
                                                        </div>

                                                        <div class="mb-2">
                                                            <label class="col-2">暱稱
                                                            </label>
                                                            <label>
                                                                ${obj.value5}</label>
                                                        </div>


                                                        <div class="button-list text-center" id="${obj.value5} ${obj.value1} ${obj.value2}">${btn}</div>
                                                    </div>
                                                </div>`)


        });





    </script>

    <script>
        $(".checkin").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `${id} 是否簽到?`,
                showCancelButton: true,
                confirmButtonText: '簽到',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });
        $(".cancel").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `${id} 是否取消?`,
                showCancelButton: true,
                confirmButtonText: '取消',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });
        $(".accepted").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `${id} 是否接受?`,
                showCancelButton: true,
                confirmButtonText: '確定',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });

        $("#save").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `儲存資料?`,
                showCancelButton: true,
                confirmButtonText: '儲存',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });

        $("#recover").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `恢復預設值?`,
                showCancelButton: true,
                confirmButtonText: '恢復',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });

        $("#suspend").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `停止學生參加或登記上課的權利?`,
                showCancelButton: true,
                confirmButtonText: '停權',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });

    </script>

    <!-- App js -->
    <script src="../assets/js/app.min.js"></script>

</body>

</html>