<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>璽璽瑜珈 Line App</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Sweet Alert-->
    <link href="../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="../assets/css/default/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="../assets/css/default/bootstrap-dark.min.css" rel="stylesheet" type="text/css"
        id="bs-dark-stylesheet" />
    <link href="../assets/css/default/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <!-- icons -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="../css/yogo.css" rel="stylesheet" type="text/css" />

</head>

<body class="loading">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="index.html" class="logo logo-dark text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm-dark.png" alt="" height="24">
                            <!-- <span class="logo-lg-text-light">Minton</span> -->
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-dark.png" alt="" height="20">
                            <!-- <span class="logo-lg-text-light">M</span> -->
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm.png" alt="" height="24">
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-light.png" alt="" height="20">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">課程列表</a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">



            <div class="h-100" data-simplebar>

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul id="side-menu">

                        <li>
                            <a href="index.html">
                                <i class="ri-message-2-line"></i>
                                <span> 首頁 </span>
                            </a>
                        </li>

                        <li class="menu-title">訪客</li>

                        <li>
                            <a href="guest-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>

                        <li class="menu-title">學生</li>

                        <li>
                            <a href="student-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>


                        <li>
                            <a href="student-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程公告 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-notification.html">
                                <i class="ri-message-2-line"></i>
                                <span> 個人通知 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-info.html">
                                <i class="ri-message-2-line"></i>
                                <span> 個人資訊 </span>
                            </a>
                        </li>

                        <li class="menu-title">老師</li>

                        <li>
                            <a href="teacher-edit-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增課程</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-edit-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增公告</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程公告 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-user.html">
                                <i class="ri-message-2-line"></i>
                                <span> 使用者管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-checkin.html">
                                <i class="ri-message-2-line"></i>
                                <span> 簽到管理 </span>
                            </a>
                        </li>

                        <li class="menu-title">管理員</li>

                        <li>
                            <a href="admin-list-parameter.html">
                                <i class="ri-message-2-line"></i>
                                <span> 參數管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-user.html">
                                <i class="ri-message-2-line"></i>
                                <span> 使用者管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-checkin.html">
                                <i class="ri-message-2-line"></i>
                                <span> 簽到管理</span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-report.html">
                                <i class="ri-message-2-line"></i>
                                <span> 報表管理</span>
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">課程列表</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-2">
                                                <form class="form-horizontal" role="form">
                                                    <div class="mb-2 row">
                                                        <label class="col-md-2 col-form-label"
                                                            for="example-date">選擇上課日期</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control" type="date" name="date"
                                                                id="example-date">
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row">
                                                        <div class="col-lg-6">
                                                            <div class="card card-body">
                                                                <h5 class="card-title">課程名稱：基礎1 / Basic 1 實體課</h5>
                                                                <h5 class="card-title">上課日期：2022/01/01(二)</h5>
                                                                <h5 class="card-title">上課時間：下午2:15</h5>
                                                                <h5 class="card-title">授課老師：Doris</h5>
                                                                <h5 class="card-title">上課地點：璽璽藝術空間D Art Studio</h5>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="card card-body">
                                                                <h5 class="card-title">課程名稱：基礎1 / Basic 1 視訊課</h5>
                                                                <h5 class="card-title">上課日期：2022/01/01(二)</h5>
                                                                <h5 class="card-title">上課時間：晚上7:00</h5>
                                                                <h5 class="card-title">授課老師：Doris</h5>
                                                                <h5 class="card-title">&nbsp;</h5>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end row -->
                                </div>
                            </div> <!-- end card -->
                        </div><!-- end col -->
                    </div>


                </div> <!-- container -->

            </div> <!-- content -->



        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    <script src="../assets/js/vendor.min.js"></script>

    <script src="../js/data.js"></script>

    <!-- Sweet Alerts js -->
    <script src="../assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- App js -->
    <script src="../assets/js/app.min.js"></script>

    <script>

        studentEventList.forEach(function (obj) {
            if (obj.status == undefined || obj.status == '停課') {

                let attend = obj.attend || false;
                let reserve = obj.reserve || false;

                var buttons = '';

                obj.value14.forEach(function (value14) {
                    var status = '';
                    var type = '';
                    if (value14 == '參加') {
                        status = 'attend';
                        type = 'btn-outline-primary';
                    } else if (value14 == '不參加') {
                        status = 'absent';
                        type = 'btn-outline-success';
                    } else if (value14 == '登記') {
                        status = 'reserve';
                        type = 'btn-outline-warning';
                    } else if (value14 == '取消') {
                        status = 'cancel';
                        type = 'btn-outline-danger';
                    }
                    buttons += `<button type="button"
                        class="btn ${type} btn-rounded waves-effect waves-light ${status}">${value14}</button>`
                })


                $("#studentEventList").append(`<div class="card">
    <div class="card-body">
        <div class="dropdown float-end">
            <a href="#" class="dropdown-toggle arrow-none card-drop"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" id="">
                <a class="dropdown-item item1">課程介紹</a>
                <a class="dropdown-item item2">注意事項</a>
                <a class="dropdown-item item3">老師介紹</a>
            </div>
        </div>
        <h4 class="header-title mb-0">${obj.value1}${attend == true ? '(已參加)' : ''}${reserve == true ? '(已登記)' : ''}</h4>
        <h5 class="card-title mb-0">${obj.value2}</h5>
        <h5 class="card-title mb-0">${obj.value3}</h5>
    ${obj.value14.length == 0 ? '' : `<div class="button-list mt-4 text-center" id="${obj.value1} ${obj.value2}">
                    ${buttons}
                </div>`}
    </div> 
</div> `);

            }
        });

        $(".attend").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `${id} 是否參加?`,
                showCancelButton: true,
                confirmButtonText: '參加',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });
        $(".absent").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `${id} 是否不參加?`,
                showCancelButton: true,
                confirmButtonText: '不參加',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });
        $(".reserve").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `${id} 是否登記?`,
                showCancelButton: true,
                confirmButtonText: '登記',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });
        $(".cancel").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `${id} 是否取消?`,
                showCancelButton: true,
                confirmButtonText: '取消',
                cancelButtonText: '離開',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });

        $(".item1").click(function () {
            Swal.fire('課程介紹')
        });
        $(".item2").click(function () {
            Swal.fire('注意事項')
        });
        $(".item3").click(function () {
            Swal.fire('老師介紹')
        });

    </script>

</body>

</html>