<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>璽璽瑜珈 Line App</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Sweet Alert-->
    <link href="../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugin css -->
    <link href="../assets/libs/@fullcalendar/core/main.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/@fullcalendar/daygrid/main.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/@fullcalendar/bootstrap/main.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/@fullcalendar/timegrid/main.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/@fullcalendar/list/main.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugins css -->
    <link href="../assets/libs/mohithg-switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <link href="../assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet"
        type="text/css" />

    <!-- App css -->
    <link href="../assets/css/default/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="../assets/css/default/bootstrap-dark.min.css" rel="stylesheet" type="text/css"
        id="bs-dark-stylesheet" />
    <link href="../assets/css/default/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <!-- icons -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="../css/yogo.css" rel="stylesheet" type="text/css" />

</head>

<body class="loading">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="index.html" class="logo logo-dark text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm-dark.png" alt="" height="24">
                            <!-- <span class="logo-lg-text-light">Minton</span> -->
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-dark.png" alt="" height="20">
                            <!-- <span class="logo-lg-text-light">M</span> -->
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm.png" alt="" height="24">
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-light.png" alt="" height="20">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">設定學生截止日期</a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">



            <div class="h-100" data-simplebar>



                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul id="side-menu">

                        <li class="menu-title">學生</li>

                        <li>
                            <a href="student-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>


                        <li>
                            <a href="student-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 公告列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-notification.html">
                                <i class="ri-message-2-line"></i>
                                <span> 通知列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-info.html">
                                <i class="ri-message-2-line"></i>
                                <span> 個人資訊 </span>
                            </a>
                        </li>

                        <li class="menu-title">老師</li>

                        <li>
                            <a href="teacher-edit-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增課程</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-edit-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增公告</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 公告列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-student.html">
                                <i class="ri-message-2-line"></i>
                                <span> 學生列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-edit-instruction.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程介紹 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-student-calendar.html">
                                <i class="ri-message-2-line"></i>
                                <span> 設定學生截止日期 </span>
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-4">設定學生截止日期</h4>

                                <div class="mb-2 row">
                                    <div id="calendar"></div>
                                </div>

                                <div class="mb-2 row">

                                    <button type="submit" class="btn btn-primary mt-2">回覆預設</button>
                                    <button type="submit" class="btn btn-success mt-2">儲存</button>

                                </div>

                                <div class="mb-2 row">
                                    <label class="col-md-2 col-form-label" for="simpleinput">延長時間</label>
                                    <div class="col-md-5">
                                        <input type="text" id="simpleinput" class="form-control" value="">
                                    </div>
                                    <div class="col-md-5 mt-2">
                                        <select class="form-control">
                                            <option value="1">天
                                            </option>
                                            <option value="2">週
                                            </option>
                                            <option value="3">月
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-2 row">

                                    <label id="select-student" class="form-control" for="simpleinput">選擇學生</label>

                                    <!-- <select name="country" class="multi-select" multiple="" id="my_multi_select3">

                                    </select> -->
                                    <!-- <button type="submit" class="btn btn-primary mt-2">回覆預設</button> -->
                                    <button type="submit" class="btn btn-success mt-2">儲存</button>

                                </div>

                            </div>
                        </div> <!-- end card -->
                    </div> <!-- end col -->


                </div> <!-- container -->

            </div> <!-- content -->



        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <div class="modal fade" id="add-new-student" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mySmallModalLabel">選擇學生</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="align-self: center;">

                    <!-- <div class="col-12 mb-4">
                        <select name="country" class="multi-select" multiple="" id="my_multi_select1">
                        </select>
                    </div> -->

                    <div class="mb-2 row" id="studentList">

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">離開</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">更新</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Vendor js -->
    <script src="../assets/js/vendor.min.js"></script>

    <script src="../js/data.js"></script>

    <!-- Sweet Alerts js -->
    <script src="../assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Plugins Js -->
    <script src="../assets/libs/selectize/js/standalone/selectize.min.js"></script>
    <script src="../assets/libs/mohithg-switchery/switchery.min.js"></script>
    <script src="../assets/libs/multiselect/js/jquery.multi-select.js"></script>
    <script src="../assets/libs/jquery.quicksearch/jquery.quicksearch.min.js"></script>
    <script src="../assets/libs/select2/js/select2.min.js"></script>
    <script src="../assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="../assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

    <!-- plugin js -->
    <script src="../assets/libs/moment/min/moment.min.js"></script>
    <script src="../assets/libs/@fullcalendar/core/main.min.js"></script>
    <script src="../assets/libs/@fullcalendar/bootstrap/main.min.js"></script>
    <script src="../assets/libs/@fullcalendar/daygrid/main.min.js"></script>
    <script src="../assets/libs/@fullcalendar/timegrid/main.min.js"></script>
    <script src="../assets/libs/@fullcalendar/list/main.min.js"></script>
    <script src="../assets/libs/@fullcalendar/interaction/main.min.js"></script>

    <!-- Calendar init -->
    <!-- <script src="../assets/js/pages/calendar.init.js"></script> -->

    <script>

        // var tags1 = $("#selectize-tags1").selectize({
        //     persist: !1,
        //     createOnBlur: !0,
        //     create: !0,
        //     options: [
        //         { id: 1, title: 'value1' },
        //         { id: 2, title: 'value2' },
        //         { id: 3, title: 'value3' }
        //     ],
        // })
        var $select = $('#selectize-tags0').selectize({
            valueField: 'id',
            labelField: 'title',
            searchField: 'title',
            options: [
                { id: 1, title: '實體課' },
                { id: 2, title: '視訊課' },
            ],
            create: false,
        });
        var $select = $('#selectize-tags1').selectize({
            valueField: 'id',
            labelField: 'title',
            searchField: 'title',
            options: [
                { id: 1, title: 'Doris' },
                { id: 2, title: 'Bella' },
            ],
            create: true,
        });
        var $select = $('#selectize-tags5').selectize({
            valueField: 'id',
            labelField: 'title',
            searchField: 'title',
            options: [
                { id: 1, title: 'Doris' },
                { id: 2, title: 'Bella' },
            ],
            create: true,
        });

        $("#selectize-tags2").selectize({
            persist: !1, createOnBlur: !0, create: !0
        })
        $("#selectize-tags3").selectize({
            persist: !1, createOnBlur: !0, create: !0
        })
        $("#selectize-tags4").selectize({
            persist: !1, createOnBlur: !0, create: 0
        })
        $("#selectize-tags6").selectize({
            persist: !1, createOnBlur: !0, create: !0
        })
        $("#selectize-tags7").selectize({
            persist: !1, createOnBlur: !0, create: !0
        })
        $("#selectize-tags8").selectize({
            persist: !1, createOnBlur: !0, create: !0
        })
        // var $select = $('#selectize-tags8').selectize({
        //     valueField: 'id',
        //     labelField: 'title',
        //     searchField: 'title',
        //     options: [
        //         { id: 1, title: '基礎1/Basic1' },
        //         { id: 2, title: '基礎2/Basic2' },
        //         { id: 3, title: '睡眠修護/Basic3' },
        //         { id: 4, title: '療癒/Restorative' },
        //     ],
        //     create: true,
        // });
    </script>
    <script>
        var studentCalendarList = [
            {
                id: 1,
                title: "3",
                start: "2022-06-01",
                end: "2022-06-01",
            },
            {
                id: 2,
                title: "2",
                start: "2022-06-02",
                end: "2022-06-02",
            },
        ];
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            // initialView: 'dayGridMonth',
            plugins: ["bootstrap", "interaction", "dayGrid", "timeGrid", "list"],
            timeZone: 'Asia/Taipei',
            height: 600,
            events: studentCalendarList
        });
        calendar.on('dateClick', function (info) {
            //取得點擊日期
            let date = info.dateStr;
            console.log(info)
            // Swal.fire('選擇學生');
            $("#add-new-student").modal('show');
        });

        calendar.on('eventClick', function (info) {
            //取得點擊日期
            let date = info.dateStr;

            $("#add-new-student").modal('show');

        });
        calendar.render();


    </script>

    <script>

        // studentList.forEach(function (obj) {
        //     $("#my_multi_select1").append(`<option value="${obj.value1}">${obj.value1}/${obj.value2}</option>`);
        // });

        // $("#my_multi_select1").multiSelect({ selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='搜尋...'>", selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='搜尋...'>", afterInit: function (e) { var t = this, a = t.$selectableUl.prev(), i = t.$selectionUl.prev(), l = "#" + t.$container.attr("id") + " .ms-elem-selectable:not(.ms-selected)", o = "#" + t.$container.attr("id") + " .ms-elem-selection.ms-selected"; t.qs1 = a.quicksearch(l).on("keydown", function (e) { if (40 === e.which) return t.$selectableUl.focus(), !1 }), t.qs2 = i.quicksearch(o).on("keydown", function (e) { if (40 == e.which) return t.$selectionUl.focus(), !1 }) }, afterSelect: function () { this.qs1.cache(), this.qs2.cache() }, afterDeselect: function () { this.qs1.cache(), this.qs2.cache() } })



        studentList.forEach(function (obj) {
            $("#my_multi_select3").append(`<option value="${obj.value1}">${obj.value1}/${obj.value2}(${obj.date})</option>`);
        });

        $("#my_multi_select3").multiSelect({ selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='搜尋...'>", selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='搜尋...'>", afterInit: function (e) { var t = this, a = t.$selectableUl.prev(), i = t.$selectionUl.prev(), l = "#" + t.$container.attr("id") + " .ms-elem-selectable:not(.ms-selected)", o = "#" + t.$container.attr("id") + " .ms-elem-selection.ms-selected"; t.qs1 = a.quicksearch(l).on("keydown", function (e) { if (40 === e.which) return t.$selectableUl.focus(), !1 }), t.qs2 = i.quicksearch(o).on("keydown", function (e) { if (40 == e.which) return t.$selectionUl.focus(), !1 }) }, afterSelect: function () { this.qs1.cache(), this.qs2.cache() }, afterDeselect: function () { this.qs1.cache(), this.qs2.cache() } })


    </script>

    <script>

        studentList.forEach(function (obj) {
            $("#studentList").append(`<div class="card card-cell">
                            <div class="card-body">
                                <h4 class="header-title mb-">${obj.value1}/${obj.value2}</h4>
                            </div> 
                        </div>`)
        });

        $(".add-new-student").click(function () {
            $("#add-new-student").modal('show');
        });

        $("#select-student").click(function () {
            $("#add-new-student").modal('show');
        });


        $(".card-cell").click(function () {
            if ($(this).hasClass('card-cell-color') == true) {
                $(this).removeClass('card-cell-color')
            } else {
                $(this).addClass('card-cell-color')
            }

        });
    </script>


    <!-- App js -->
    <script src="../assets/js/app.min.js"></script>

</body>

</html>