<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>璽璽瑜珈 Line App</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Sweet Alert-->
    <link href="../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="../assets/css/default/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="../assets/css/default/bootstrap-dark.min.css" rel="stylesheet" type="text/css"
        id="bs-dark-stylesheet" />
    <link href="../assets/css/default/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <!-- icons -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="../css/yogo.css" rel="stylesheet" type="text/css" />
    <style>
        .scrolling-wrapper {
            overflow-x: auto;
        }

        /* body {
            background-color: black;
            color: #fff;
            font-family: 'system-ui';
        } */

        /* h1 {
            font-weight: 700;
            font-size: 3.4em;
        } */

        /* .subtitle {
            font-size: 1.25em;
            opacity: 0.65;
        } */

        .card-block {
            height: 300px;
            background-color: #fff;
            border: none;
            background-position: center;
            background-size: cover;
            transition: all 0.2s ease-in-out !important;
            border-radius: 24px;

            /* &:hover {
                transform: translateY(-5px);
                box-shadow: none;
                opacity: 0.9;
            } */
        }

        .card-1 {
            background-color: #4158D0;
            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        }

        .card-2 {
            background-color: #0093E9;
            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        }

        .card-3 {
            background-color: #00DBDE;
            background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
        }

        .card-4 {
            background-color: #FBAB7E;
            background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
        }

        .card-5 {
            background-color: #85FFBD;
            background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        }

        .card-6 {
            background-color: #FA8BFF;
            background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
        }

        .card-7 {
            background-color: #FA8BFF;
            background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
        }

        .card-8 {
            background-color: #FBDA61;
            background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
        }

        .card-9 {
            background-color: #4158D0;
            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        }

        .card-10 {
            background-color: #FF3CAC;
            background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

        }
    </style>
</head>

<body class="loading">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="index.html" class="logo logo-dark text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm-dark.png" alt="" height="24">
                            <!-- <span class="logo-lg-text-light">Minton</span> -->
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-dark.png" alt="" height="20">
                            <!-- <span class="logo-lg-text-light">M</span> -->
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm.png" alt="" height="24">
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-light.png" alt="" height="20">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>






                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <div class="h-100" data-simplebar>

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul id="side-menu">

                        <li>
                            <a href="index.html">
                                <i class="ri-message-2-line"></i>
                                <span> 首頁 </span>
                            </a>
                        </li>

                        <li class="menu-title">訪客</li>

                        <li>
                            <a href="guest-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>

                        <li class="menu-title">學生</li>

                        <li>
                            <a href="student-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>


                        <li>
                            <a href="student-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程公告 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-notification.html">
                                <i class="ri-message-2-line"></i>
                                <span> 個人通知 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-info.html">
                                <i class="ri-message-2-line"></i>
                                <span> 個人資訊 </span>
                            </a>
                        </li>

                        <li class="menu-title">老師</li>

                        <li>
                            <a href="teacher-edit-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增課程</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-edit-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增公告</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程公告 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-user.html">
                                <i class="ri-message-2-line"></i>
                                <span> 使用者管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-checkin.html">
                                <i class="ri-message-2-line"></i>
                                <span> 簽到管理 </span>
                            </a>
                        </li>

                        <li class="menu-title">管理員</li>

                        <li>
                            <a href="admin-list-parameter.html">
                                <i class="ri-message-2-line"></i>
                                <span> 參數管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-user.html">
                                <i class="ri-message-2-line"></i>
                                <span> 使用者管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-checkin.html">
                                <i class="ri-message-2-line"></i>
                                <span> 簽到管理</span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-report.html">
                                <i class="ri-message-2-line"></i>
                                <span> 報表管理</span>
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">







                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-4">公告列表</h4>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">編輯</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">停止</a>
                                            </div>
                                        </div>
                                        <h4 class="header-title mb-2">視訊須知</h4>
                                        <h5 class="card-title mb-2">公告日期：2022/04/01</h5>
                                        <!-- <img src="../src/LINE_ALBUM_220501.jpg"> -->
                                        <div class="card-body">
                                            <div class="scrolling-wrapper row flex-row flex-nowrap pb-4">

                                                <div class="col-12">
                                                    <div class="card card-block card-1">
                                                        <img class="card-img-top img-fluid"
                                                            src="../src/LINE_ALBUM_220501_0.jpg" alt="Card image cap" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card card-block card-2">
                                                        <img class="card-img-top img-fluid"
                                                            src="../src/LINE_ALBUM_220501_1.jpg" alt="Card image cap" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card card-block card-3">
                                                        <img class="card-img-top img-fluid"
                                                            src="../src/LINE_ALBUM_220501_2.jpg" alt="Card image cap" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card card-block card-4">
                                                        <img class="card-img-top img-fluid"
                                                            src="../src/LINE_ALBUM_220501_3.jpg" alt="Card image cap" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card card-block card-5">
                                                        <img class="card-img-top img-fluid"
                                                            src="../src/LINE_ALBUM_220501_4.jpg" alt="Card image cap" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card card-block card-6">
                                                        <img class="card-img-top img-fluid"
                                                            src="../src/LINE_ALBUM_220501_5.jpg" alt="Card image cap" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card card-block card-7">
                                                        <img class="card-img-top img-fluid"
                                                            src="../src/LINE_ALBUM_220501_6.jpg" alt="Card image cap" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card card-block card-8">
                                                        <img class="card-img-top img-fluid"
                                                            src="../src/LINE_ALBUM_220501_7.jpg" alt="Card image cap" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card card-block card-9">
                                                        <img class="card-img-top img-fluid"
                                                            src="../src/LINE_ALBUM_220501_8.jpg" alt="Card image cap" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->

                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">編輯</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">停止</a>
                                            </div>
                                        </div>
                                        <h4 class="header-title mb-2">璽璽藝術空間 春夏課表 Yoga Class</h4>
                                        <h5 class="card-title mb-2">公告日期：2022/04/01</h5>
                                        <!-- <img src="../src/LINE_ALBUM_220501.jpg"> -->
                                        <div style="text-align: center;">
                                            <img class="card-img-top img-fluid" src="../src/LINE_ALBUM_220501.jpg"
                                                alt="Card image cap" />
                                        </div>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">編輯</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">停止</a>
                                            </div>
                                        </div>
                                        <h4 class="header-title mb-2">停課通知</h4>
                                        <h5 class="card-title mb-2">公告日期：2022/04/01</h5>
                                        <h5 class="card-title mb-2">♦️本週二4/19-五4/23
                                            Doris停課休息，無任何視訊及實體課程喔

                                            下週見✨✨</h5>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->

                            </div>
                        </div> <!-- end card -->
                    </div> <!-- end col -->


                </div> <!-- container -->

            </div> <!-- content -->



        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    <script src="../assets/js/vendor.min.js"></script>

    <script src="../js/data.js"></script>

    <!-- Sweet Alerts js -->
    <script src="../assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- App js -->
    <script src="../assets/js/app.min.js"></script>

</body>

</html>