<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>璽璽瑜珈 Line App</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Sweet Alert-->
    <link href="../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="../assets/css/default/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="../assets/css/default/bootstrap-dark.min.css" rel="stylesheet" type="text/css"
        id="bs-dark-stylesheet" />
    <link href="../assets/css/default/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <!-- icons -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="../css/yogo.css" rel="stylesheet" type="text/css" />

</head>

<body class="loading">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="index.html" class="logo logo-dark text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm-dark.png" alt="" height="24">
                            <!-- <span class="logo-lg-text-light">Minton</span> -->
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-dark.png" alt="" height="20">
                            <!-- <span class="logo-lg-text-light">M</span> -->
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <img src="../assets/images/logo-sm.png" alt="" height="24">
                        </span>
                        <span class="logo-lg">
                            <img src="../assets/images/logo-light.png" alt="" height="20">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">課程行事曆</a>
                    </li>


                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <div class="h-100" data-simplebar>

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul id="side-menu">

                        <li>
                            <a href="index.html">
                                <i class="ri-message-2-line"></i>
                                <span> 首頁 </span>
                            </a>
                        </li>

                        <li class="menu-title">訪客</li>

                        <li>
                            <a href="guest-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>

                        <li class="menu-title">學生</li>

                        <li>
                            <a href="student-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>


                        <li>
                            <a href="student-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程公告 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-list-notification.html">
                                <i class="ri-message-2-line"></i>
                                <span> 個人通知 </span>
                            </a>
                        </li>

                        <li>
                            <a href="student-info.html">
                                <i class="ri-message-2-line"></i>
                                <span> 個人資訊 </span>
                            </a>
                        </li>

                        <li class="menu-title">老師</li>

                        <li>
                            <a href="teacher-edit-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增課程</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-event.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程列表 </span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-course.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程行事曆 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-edit-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 新增公告</span>
                            </a>
                        </li>
                        <li>
                            <a href="teacher-list-announcement.html">
                                <i class="ri-message-2-line"></i>
                                <span> 課程公告 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-user.html">
                                <i class="ri-message-2-line"></i>
                                <span> 使用者管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="teacher-list-checkin.html">
                                <i class="ri-message-2-line"></i>
                                <span> 簽到管理 </span>
                            </a>
                        </li>

                        <li class="menu-title">管理員</li>

                        <li>
                            <a href="admin-list-parameter.html">
                                <i class="ri-message-2-line"></i>
                                <span> 參數管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-user.html">
                                <i class="ri-message-2-line"></i>
                                <span> 使用者管理 </span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-checkin.html">
                                <i class="ri-message-2-line"></i>
                                <span> 簽到管理</span>
                            </a>
                        </li>

                        <li>
                            <a href="admin-list-report.html">
                                <i class="ri-message-2-line"></i>
                                <span> 報表管理</span>
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">





                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" id="courseList">
                                <h4 class="header-title mb-4">課程行事曆</h4>

                            </div>
                        </div> <!-- end card -->
                    </div> <!-- end col -->


                </div> <!-- container -->

            </div> <!-- content -->



        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    <script src="../assets/js/vendor.min.js"></script>

    <script src="../js/data.js"></script>

    <!-- Sweet Alerts js -->
    <script src="../assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- App js -->
    <script src="../assets/js/app.min.js"></script>

    <script>


        courseList.forEach(function (obj) {
            // 工作坊、實體課、視訊課、停課
            var content = '';

            if (obj.value4 != undefined) {
                content += `<h5 class="card-title mb-0">參加人數：${obj.value4}</h5>`;
            }
            if (obj.value5 != undefined) {
                content += `<h5 class="card-title mb-0">登記人數：${obj.value5}</h5>`;
            }
            if (obj.value6 != undefined) {
                content += `<h5 class="card-title mb-0">簽到人數：${obj.value6}</h5>`;
            }
            if (obj.value7 != undefined) {
                content += `<h5 class="card-title mb-0">不參加人數：${obj.value7}</h5>`;
            }
            if (obj.value8 != undefined) {
                content += `<h5 class="card-title mb-0">實體課參加人數：${obj.value8}</h5>`;
            }
            if (obj.value9 != undefined) {
                content += `<h5 class="card-title mb-0">實體課登記人數：${obj.value9}</h5>`;
            }
            if (obj.value10 != undefined) {
                content += `<h5 class="card-title mb-0">實體課簽到人數：${obj.value10}</h5>`;
            }
            if (obj.value11 != undefined) {
                content += `<h5 class="card-title mb-0">實體課不參加人數：${obj.value11}</h5>`;
            }
            if (obj.value12 != undefined) {
                content += `<h5 class="card-title mb-0">視訊課參加人數：${obj.value12}</h5>`;
            }
            if (obj.value13 != undefined) {
                content += `<h5 class="card-title mb-0">視訊課簽到人數：${obj.value13}</h5>`;
            }
            $("#courseList").append(`<div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end" id="${obj.value1}">
                                                <a class="dropdown-item next">查看</a>
                                                ${obj.status == undefined || obj.status == null ? '<a class="dropdown-item stop">停課</a>' : ''}
                                            </div>
                                        </div>
                                        <h4 class="header-title mb-2">${obj.value1}</h4>
                                        <h5 class="card-title mb-2">${obj.value2}</h5>
                                        <h5 class="card-title mb-2">${obj.value3}</h5>
                                        ${content}
                                    </div>
                                </div>`)
        });

        $(".stop").click(function () {
            let id = $(this).parent().attr("id");
            Swal.fire({
                title: `${id} 是否停課?`,
                showCancelButton: true,
                confirmButtonText: '確定',
                cancelButtonText: '取消',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
            })
        });

        $(".next").click(function () {
            let id = $(this).parent().attr("id");
            location.href = `teacher-edit-course.html?id=${id}`
        });

    </script>

</body>

</html>